{% extends 'base.html' %}

{% block body %}
<form action="" method="POST">
  {% csrf_token %}
  {{ form }}
  <button>생성</button>
</form>
<hr>


{% for todo in todos %}
  <h2></h2>
  {% if request.user == todo.author %}
  <p> # {{ todo.author }} - {{ todo.title }} </p>

  {% if todo.completed == False %}
  <form action="{% url 'todos:complete' todo.id %}" method="POST">
    {% csrf_token %}
    <button>완료</button>
  </form>
  <form action="{% url 'todos:delete' todo.id %}" method="POST">
    {% csrf_token %}
    <button>삭제</button>
  </form>
  <hr>
  {% endif %}
{% endif %}
{% endfor %}

{% endblock %}